@import 'variables';

#main .inside .mod_article.blog .mod_newslist {
  .layout_latest {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 25px;
    background: #D6DFF2;
    h2 {
      background: none;
      padding: 0;
      line-height: 1.5em;
      a {
        text-decoration: none;
      }
    }
    .more {
      a {
        color: #234766;
        background: transparent;
        text-align: left;
        padding: 0;
      }
    }
  }
}
