@import 'variables';

#title-image {
  position: relative;
  height: 65vh;
  margin-bottom: 10vw;
  padding-top: 0;
  overflow: visible;
  &:after {
    position: absolute;
    content: "";
    bottom: -8vw;
    left: 0;
    width: 100%;
    height: 15vw;
    background: url("../layout/Titelbild-Unterlegung.svg") no-repeat -2px 100%/cover;
  }
  > .ce_image {
    width: 100%;
    max-width: initial;
    height: 100%;
    margin: 0;
    img {
      object-fit: cover;
    }
    figure {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

#main {
  .inside {
    .mod_article {
      > .ce_text {
        width: 90%;
        max-width: $content-width;
        margin: 40px auto;
        text-align: center;
        > p, ul {
          padding-left: 150px;
          padding-right: 150px;
          margin: 20px auto;
          padding-top: 20px;
          line-height: 1.5em;
          font-size: 20px;
          text-align: left;
          a {
            text-decoration: none;
            color: #90d50e;
            font-weight: bold;
          }
        }
        .image_container.float_above {
          width: 100px;
          margin: 0 auto;
          & ~ h2 {
            background: none;
            color: $main-color;
          }
        }
        h2 ~ p, h1 ~ p:nth-child(2) {
          border-top: 2px solid;
        }
        > h2:first-child {
          margin-top: 0;
        }
      }
      > .ce_text h1,h1 {
        display: inline;
        text-align: center;
        max-width: 500px;
        margin: 20px auto;
        padding: 8px 11px;
        font-weight: 600;
        text-decoration: none;
        background: $main-color;
        line-height: 2em;
        color: white;
        box-decoration-break: clone;
      }
      > .ce_text h2,h2 {
        display: inline;
        padding: 8px 11px;
        position: relative;
        z-index: 100;
        text-align: center;
        width: 100%;
        max-width: 1100px;
        margin: 40px auto;
        box-sizing: border-box;
        background: $main-color;
        line-height: 2em;
        color: white;
        box-decoration-break: clone;
      }
    }
  }
}

#news-network {
  position: relative;
  width: 100%;
  background: url("../layout/Niederlassung-in-Thueringen-Hintergrund-Wald.jpg") no-repeat 0 100%/cover;
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, white 10%, transparent 40%, rgb(23, 0, 24) 100%);
    z-index: 50;
  }
  > h2 {
    color: white;
  }
  .network {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    > .ce_image {
      width: 25%;
    }
  }
}

.mod_article.akteure {
  background: url('../layout/Niederlassung-in-Thueringen-Akteure-Hintergrund.svg') no-repeat 0 0/100% 80%;
  min-height: 115vh;
}

#main .inside .mod_article > .ce_text.button {
  margin: 20px auto;
  padding: 0;
  > p {
    margin: 0;
    padding: 0;
    text-align: center;
    a {
      display: inline-block;
      width: 90%;
      max-width: 340px;
      margin: 0;
      padding: 7px 20px;
      text-transform: uppercase;
      border: 2px solid;
      border-radius: 3px;
      font-weight: bold;
      letter-spacing: 1px;
      text-shadow: 0 0 5px;
      transition: background-color 250ms;
      box-sizing: border-box;
      .button-arrow {
        width: 18px;
        margin-right: 5px;
      }
    }
  }
  &.Blau p a {
    color: white;
    background: $main-color;
    border-color: $main-color;
    transition: filter 250ms;
    &:hover {
      color: white !important;
      filter: brightness(1.2);
    }
  }
  &.Gruen p a {
    color: white;
    background: $bright-green;
    border-color: $bright-green;
    transition: filter 250ms;
    &:hover {
      color: white !important;
      filter: brightness(1.1);
    }
  }
  &.Transparent p a {
    color: $main-color;
    background: transparent;
    transition: background-color 250ms;
    &:hover {
      color: $main-color !important;
      background: rgba(0,0,0,.1);
    }
  }
}

#main .inside .mod_article > .ce_text.teaserbox {
  position: relative;
  width: 100%;
  max-width: initial;
  padding: 40px 0;
  margin: 0 auto;
  > figure.image_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  > p {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    box-sizing: border-box;
  }
}

.stoerer-article {
  position: relative;
  margin-top: 40px;
  margin-bottom: -40px;
  padding: 0;
  overflow: visible;
  z-index: 50;
  .stoerer {
    position: absolute;
    bottom: 0;
    right: 10%;
    display: block;
    width: 150px;
    height: 150px;
    transform: translateY(50%);
    font-size: 25px;
    text-align: center;
    a {
      text-decoration: none;
      display: flex;
      width: 150px;
      height: 150px;
      align-items: center;
      border-radius: 50%;
      background-image: linear-gradient(to bottom,$bright-blue, $bright-green);
      border: 5px solid white;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: $mobile) {
  #title-image {
    height: 350px;
  }

  #news-network .network > .ce_image {
    width: 100%;
  }
}

@media screen and (min-width: 2300px) {
  #news-network:after {
    background-image: linear-gradient(to bottom, white 10%, transparent 40%, #190c25 100%);
  }
}



