@import 'variables';

.mod_article.map {
  position: relative;
  background: url("../layout/map-lines.svg") no-repeat 0 62%;
  overflow: visible;
}

.map-lines-bg {
  padding: 0;
}

.closed-notification {
  position: absolute;
  width: 300px;
  height: 84px;
  top: 10vw;
  right: 6vw;
  background: $main-color;
  color: white;
  z-index: 20;
  box-sizing: border-box;
  padding: 0 25px;
  cursor: pointer;
  transition: height 250ms;
  overflow: hidden;
  &.open {
    height: 550px;
  }
  strong,a,p {
    color: white;
  }
}

.zip-search {
  display: none;
  position: absolute;
  top: 10vw;
  right: 31vw;
  z-index: 20;
  input {
    width: 256px;
    outline: none;
    padding: 8px 18px;
    border-radius: 20px;
    border: none;
    background: #c3e484;
    color: #134a21;
    text-transform: uppercase;
    font-size: 14px;
    &.dropdown-open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  ul {
    display: none;
    width: 282px;
    margin: 0;
    padding: 0 0 10px 10px;
    list-style: none;
    background: #c3e484;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    li {
      &.filtered-out {
        display: none;
      }
      a {
        display: block;
        width: 100%;
        padding: 4px 8px;
        color: #134a21;
        text-decoration: none;
        box-sizing: border-box;
      }
      &:last-child {
        a {
          &:hover {
            color: #134a21 !important;
          }
        }
      }
    }
  }
  &.active {
    display: block;
  }
}

.mappoint {
  position: absolute;
  .mappoint-icon {
    position: relative;
    width: 24px;
    cursor: pointer;
    z-index: 30;
    transition: transform 250ms;
    &:hover {
      transform: scale(1.4);
    }
  }
  .mappoint-inside {
    opacity: 0;
    transform: translateY(-50px);
    position: relative;
    width: 300px;
    height: 150px;
    background: $main-color;
    transition: opacity 250ms ease-out, transform 250ms ease-out, z-index 0ms;
    transition-delay: 0ms, 0ms, 250ms;
    z-index: 0;
    &.showing {
      opacity: 1;
      transform: translateY(0);
      z-index: 20;
      transition: opacity 250ms ease-out, transform 250ms ease-out, z-index 0ms;
    }
    .mappoint-close {
      position: absolute;
      top: 8px;
      right: 8px;
      color: white;
      font-size: 38px;
      cursor: pointer;
      line-height: .5em;
      user-select: none;
    }
    .mappoint-inside-text {
      position: absolute;
      top: 25px;
      left: 20px;
      h3 {
        margin-top: 0;
        color: white;
      }
      p {
        margin: 0;
        a {
          color: white;
        }
      }
    }
  }
}

.hover-map {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
  > svg {
    &:nth-child(1) {
      transform: scale(.98) translateY(43px);
      z-index: 10;
      position: relative;
    }
    &:nth-child(2) {
      position: absolute;
      left: 50%;
      z-index: 1;
      filter: drop-shadow(0 0 20px #cecece);
      width: 1100px;
      transform: translateX(-50%);
    }
  }
  path {
    cursor: pointer;
    &:hover {
      filter: brightness(1.2);
    }
    &.dark {
      filter: brightness(.5);
      pointer-events: none;
    }
    &.inactive {
      pointer-events: none;
    }
  }
  &.fach {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  > svg:first-child {
    opacity: 0;
    transition: opacity 500ms;
  }
  z-index: 0;
  &.active {
    z-index: 10;
    > svg:first-child {
      opacity: 1;
      transition: opacity 500ms;
    }
  }
}

.switch-maps-button {
  position: absolute;
  top: 7vw;
  right: 30vw;
  width: 330px;
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 20;
  > div {
    cursor: pointer;
  }
  .toggle {
    width: 65px;
    height: 35px;
    border-radius: 20px;
    background: #94d609;
    position: relative;
    top: -7px;
  }
  .toggle-lever {
    background: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: transform 500ms;
    &.toggled {
      transform: translateX(30px);
    }
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: auto;
  padding: 25px;
  box-sizing: border-box;
  color: white;
  background: $main-color;
  z-index: 30;
  .close-popup {
    display: none;
    float: right;
    font-size: 50px;
    line-height: 0.5em;
    cursor: pointer;
    text-align: right;
    &.active {
      display: block;
    }
  }
  h4 {
    margin: 0;
    color: white;
    font-size: 21px;
    pointer-events: none;
  }
  strong,a {
    color: white;
  }
  &.shown {
    display: block;
  }
  .popup-content {
    display: none;
    &.shown {
      display: block;
    }
    span {
      color: white;
      display: block;
    }
  }
}

#layover-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0;
  z-index: -10;
  transition: opacity 250ms;
  &.active {
    opacity: .5;
    z-index: 200;
  }
}

#layover {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 85vh;
  background: white;
  box-shadow: 0 0 20px #444;
  transform: translate(-50%,-50%);
  z-index: 200;
  &.active {
    display: block;
  }
}

#layover-close {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 50px;
  line-height: 0em;
  cursor: pointer;
}

.region-list-entry {
  display: none;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 25px;
  background: #D6DFF2;
  h4 {
    margin: 0;
    font-size: 20px;
  }
}

#map-subpage {
  .hover-map {
    display: none;
  }
  .zip-search,.switch-maps-button,.closed-notification  {
    display: none;
  }
  .region-list-subpage {
    display: block;
    .region-list-entry {
      display: block;
    }
    .ce_tabcontrol {
      .tabcontrol_tabs {
        width: 90%;
        max-width: 800px;
        margin: 20px auto;
        ul {
          padding-left: 0 !important;
          display: flex;
          justify-content: space-between;
          list-style: none;
          li {
            width: 50%;
            text-align: center;
            padding: 30px;
            box-sizing: border-box;
            cursor: pointer;
            background: #eaeff9;
            border-radius: 5px 5px 0 0;
            text-transform: uppercase;
            font-weight: bold;
            &.selected {
              background: #d6dff2;
            }
          }
        }
      }
    }
  }
  .map-wrapper-fach {
    .region-list-entry {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: $mobile) {
  #map-subpage .map-wrapper-fach .region-list-entry {
    display: block;
  }

  .mod_article.map {
    display: none;
  }

  .mod_article.entry-points {
    transform: none;
    margin: 0 auto;
  }

  .entry-point-box {
    height: auto;
    padding-top: 0;
  }

  .entry-point-box a .entry-point-box-inside p {
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .entry-point-box a .entry-point-box-inside h3 {
    padding:0 0 10px;
    font-size: 16px;
  }
}
