@import 'variables';

.mobile_menu_trigger {
  cursor: pointer;
}

.mobile_menu {
  z-index: 200;
  .inner {
    background: white url("../layout/map-lines.svg") no-repeat 0 105%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .mobile-menu-header {
      display: flex;
      justify-content: space-between;
      width: 90%;
      max-width: 1500px;
      margin: 0 auto;
      .mobile-menu-header-right {
        display: flex;
        align-items: center;
        height: 200px;
        width: 250px;
      }
      > .ce_text:first-child {
        width: 250px;
        margin-top: 120px;
        p {
          display: flex;
          justify-content: space-between;
          width: 115px;
          margin-top: 0;
          a {
            position: relative;
            width: 50px;
            height: 50px;
            display: inline-block;
            &:after {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: '';
              border-radius: 50%;
              background: white;
              opacity: 0;
              transition: opacity 250ms;
            }
            &:hover:after {
              opacity: .4;
            }
          }
        }
      }
      .menu-logo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0 0 20px #cecece;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        img {
          width: 60%;
          height: 60%;
        }
      }
      .mobile-menu-social {
        overflow: visible;
        p {
          width: 130px;
          display: flex;
          justify-content: space-between;
          a {
            img {
              filter: drop-shadow(0 0 10px #9f9f9f);
              box-shadow: 0 0 10px #cecece;
              border-radius: 50%;
            }
          }
        }
      }
      .mobile-menu-close {
        position: relative;
        margin-left: auto;
        width: 80px;
        height: 80px;
        cursor: pointer;
        display: inline-block;
        &:after {
          position: absolute;
          top: 2.5%;
          left: 2.5%;
          width: 95%;
          height: 95%;
          content: '';
          border-radius: 50%;
          background: white;
          opacity: 0;
          transition: opacity 250ms;
        }
        &:hover:after {
          opacity: .4;
        }
        img {
          filter: drop-shadow(0 0 10px #9f9f9f);
          box-shadow: 0 0 10px #cecece;
          border-radius: 50%;
          background: #c3e77f;
        }
      }
    }
    .mobile-menu-navigations {
      @include menu;
    }
  }
  .mobile-menu-footer {
    width: 50%;
    margin-top: auto;
    img {
      display: inline-block;
    }
  }
}

@media screen and (max-width: $mobile) {
  .mobile_menu .inner {
    .mobile-menu-header {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      > .ce_text:first-child {
        width: 145px;
        margin: 0 auto;
        p {
          width: 100%;
          a {
            width: 35px;
            height: 35px;
          }
        }
      }
      .mobile-menu-close {
        width: 55px;
        height: 55px;
        margin-top: 40px;
        margin-left: auto;
      }
      .menu-logo {
        width: 170px;
        top: 0;
        transform: translateY(-53px);
      }
    }
    .mobile-menu-navigations {
      height: auto;
      > nav {
        width: 100%;
      }
    }
    .mobile-menu-footer {
      width: 90%;
    }
  }
}

@media screen and (min-width: 2400px) {
  .mobile_menu .inner {
    display: block;
    .mobile-menu-footer {
      margin: 0 auto;
    }
  }
}
