@import 'variables';

.regional-portrait {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  .portrait-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > div {
      width: 48%;
    }
    .portrait-top-right {
      .ce_image {
        height: 250px;
        figure {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .portrait-bottom {
    > .ce_text p {
      margin: 80px 0;
    }
    .portrait-accordions {
      margin: 40px 0 80px;
      section {
        width: 100%;
        &:first-child:last-child {
          border-bottom: 2px solid black;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .regional-portrait {
    .portrait-top {
      > div {
        width: 100%;
      }
    }
  }
}
