$content-width: 1100px;
$extra-width: 1300px;
$text-width: 800px;
$mobile: 1100px;
$main-color: rgb(35,71,102);
$text-emphasis: #339BA6;
$bright-green: #93D609;
$bright-blue: #009EE3;
$footer-form: #006B7A;

@mixin menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 50vh;
  max-width: $extra-width;
  margin: 0 auto;
  > nav {
    width: 24%;
    height: 270px;
    h2 {
      border-bottom: 1px solid white;
      text-transform: uppercase;
      color: $text-emphasis;
      font-size: 17px;
      padding: 10px 0;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        margin: 10px 0;
        strong,a {
          color: white;
          text-decoration: none;
          text-transform: uppercase;
        }
        strong {
          font-weight: bold;
          color: $text-emphasis;
        }
      }
    }
  }
}
