$content-width: 1100px;
$extra-width: 1300px;
$text-width: 800px;
$mobile: 1100px;
$main-color: rgb(35,71,102);
$text-emphasis: #339BA6;
$bright-green: #93D609;
$bright-blue: #009EE3;
$footer-form: #006B7A;
